@model ProjectHall4.Models.Children

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Children</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ChildrenFood)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildrenFood)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChildrenFoodPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildrenFoodPrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ChildrenID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
