@model ProjectHall4.Models.Booking

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Adult.CateringType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adult.CateringType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Children.ChildrenFood)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Children.ChildrenFood)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Decor.DecorColourOne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Decor.DecorColourOne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Venue.VenueName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Venue.VenueName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numbOfGuests)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numbOfGuests)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numbOfChildren)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numbOfChildren)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cateringPackage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cateringPackage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.decorpackage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.decorpackage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total_Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Decor_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Decor_Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Catering_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Catering_Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChildrenFood_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildrenFood_Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Venue_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Venue_Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookingID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
