@model ProjectHall4.Models.TotalPrices2

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TotalPrices2</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserDecor.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserDecor.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Venue.VenueName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Venue.VenueName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TotalPrices2ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
