@model ProjectHall4.Models.RegisterViewModel
@{
    ViewBag.Title = "RegisterRole";
}
<head>
    <style>
        body {
            background-color: #ff4000a6 !important
        }
    </style>
</head>
<h2>Assign Role</h2>

@using (Html.BeginForm("RegisterRole", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
   
    <div class="form-horizontal">
        @Html.ValidationSummary("")

        <div class="form-group">
            @Html.Label("Username", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UserName", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Select Role", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Name", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
       

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
       
        }
